@font-face {
	font-family: 'Bebas Neue';
	src: url('$lib/assets/fonts/bebas.ttf');
}

@font-face {
	font-family: 'Courier';
	src: url('$lib/assets/fonts/courier.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
